.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  border-radius: 5px;
  padding: 5px;
}

.avatar {
  text-align: center;
}

.name {
  font-size: 16px;
  text-align: center;
}
.status {
  font-size: 12px;
}
.red {
  composes: status;
  color: red;
}
.green {
  composes: status;
  color: green;
}
